## DIABETES 130-US HOSPITALS FOR YEARS 1999-2008

## 1.0 Introduction.

The Diabetes 130-US Hospitals (1999–2008) dataset contains ten years of clinical care records from 130 U.S. hospitals, capturing key details about diabetic patients, including laboratory tests, medications, and hospital stays of up to 14 days.

One of the major challenges in diabetes management is the high rate of hospital readmissions, particularly within 30 days of discharge. Despite advances in preventive care and therapeutic interventions, many diabetic patients continue to experience inadequate management, leading to poor glycemic control and frequent hospital visits. These readmissions not only increase hospital costs but also contribute to worse patient outcomes, including a higher risk of complications and mortality.

By leveraging data analysis and predictive modeling, we can gain valuable insights into the factors influencing readmissions. Identifying high-risk patients early can help optimize care, improve treatment strategies, and reduce healthcare burdens.

## 1.1 Problem statement
Hospital readmissions, especially within 30 days of discharge, pose significant challenges in diabetes management. Despite advancements in preventive and therapeutic interventions, many diabetic patients experience inadequate care, leading to frequent hospital readmissions. This issue not only increases healthcare costs but also negatively impacts patient outcomes.

Using the Diabetes 130-US Hospitals (1999–2008) dataset, this project aims to develop a binary classification model to predict whether a diabetic patient will be readmitted within 30 days. By leveraging machine learning techniques, including handling missing values, feature engineering, and model optimization, we seek to identify key factors influencing readmissions and provide actionable insights to improve diabetes care and hospital management.

## 1.2 Objectives  
1. Develop a classification model to predict 30-day hospital readmissions for diabetic patients.  
2. Identify key factors influencing readmission risk, including demographics, treatment history etc.
3. Evaluate the model’s predictive accuracy for effective hospital resource management.  
4. Provide actionable insights to improve diabetes care and reduce readmission rates.  
5. Support data-driven decision-making for healthcare policies and patient management strategies.

## 1.3 Limitations of the Data

1. **High Missing Values** – The dataset contains a significant number of missing or incomplete records, which may impact model performance.    
2. **Limited Socioeconomic Factors** – The dataset lacks critical socioeconomic variables (e.g., income, education) that could influence hospital readmissions.  
3. **Data Source Constraints** – Collected from 130 U.S. hospitals between 1999-2008, making it less generalizable to current healthcare settings.

# 2.0 Data Inspection

**1. Loading the dataset**

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("D:\PROJECT\Diabetes_130-US_Hospitals_1999-2008\diabetic_data.csv")

In [3]:
df1.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [5]:
len(df1.columns), df1.columns

(50,
 Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
        'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
        'time_in_hospital', 'payer_code', 'medical_specialty',
        'num_lab_procedures', 'num_procedures', 'num_medications',
        'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
        'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
        'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
        'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
        'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
        'tolazamide', 'examide', 'citoglipton', 'insulin',
        'glyburide-metformin', 'glipizide-metformin',
        'glimepiride-pioglitazone', 'metformin-rosiglitazone',
        'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
       dtype='object'))

In [6]:
#Checking for datatypes
df1.dtypes.value_counts()

object    37
int64     13
dtype: int64

*From this output, we are working with only objects and numbers on this dataset.*

**Checking the variables on the target variable**

In [7]:
df1['readmitted'].value_counts()

NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

**Imbalanced Classes:** 

The dataset exhibits a significant class imbalance, with a much larger number of patients classified as "NO" compared to those who are readmitted within 30 days (<30). This imbalance can lead to biased models that may predict the majority class more often, potentially overlooking the minority class.

# Data Cleaning

## 2.1 Handling the missing values

In [8]:
df1.isnull().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

From this out put, the dataset does not have missing values. However, this can be misleading, as health case study records, always have errors and might need to analyze the data more. Some missing values might have been encoded differently.

We will check for:
  
  - Blank spaces
  - "?" or "unknwon" values
  - Special placeholders.

In [9]:
#Checking for unique place holders in categorical columns
for col in df1.select_dtypes(include="object").columns:
    print(f"{col}unique values: {df1[col].unique()}")

raceunique values: ['Caucasian' 'AfricanAmerican' '?' 'Other' 'Asian' 'Hispanic']
genderunique values: ['Female' 'Male' 'Unknown/Invalid']
ageunique values: ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
weightunique values: ['?' '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']
payer_codeunique values: ['?' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP' 'FR']
medical_specialtyunique values: ['Pediatrics-Endocrinology' '?' 'InternalMedicine'
 'Family/GeneralPractice' 'Cardiology' 'Surgery-General' 'Orthopedics'
 'Gastroenterology' 'Surgery-Cardiovascular/Thoracic' 'Nephrology'
 'Orthopedics-Reconstructive' 'Psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'Surgery-Neuro' 'Obsterics&Gynecology-GynecologicOnco'
 'ObstetricsandGynecology' 'Pediatrics' 'Hematology/Oncology'
 'Otolaryngology' 'Surgery-Colon&Rectal' 'Pediatrics-CriticalCare'
 'Endocrinology' 'Urology' 'Psychiatry-Child/Adolescent'
 'Pediatrics-Pulmonology' 'Neurology' 'Anesthesiology-Pediatric'
 'Radiology' 'Pediatrics-Hematology-Oncology' 'Psychology' 'Podiatry'
 'Gynecology' 'Oncology' 'Pediatrics-Neurology' 'Surgery-Plastic'
 'Surgery-Thoracic' 'Surgery-PlasticwithinHeadandNeck' 'Ophthalmology'
 'Surgery-Pediatric' 'Pediatrics-EmergencyMedicine'
 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases' 'Anesthesiology'
 'Rheumatology' 'AllergyandImmunology' 'Surgery-Maxillofacial'
 'Pediatrics-InfectiousDiseases' 'Pediatrics-AllergyandImmunology'
 'Dentistry' 'Surgeon' 'Surgery-Vascular' 'Osteopath'
 'Psychiatry-Addictive' 'Surgery-Cardiovascular' 'PhysicianNotFound'
 'Hematology' 'Proctology' 'Obstetrics' 'SurgicalSpecialty' 'Radiologist'
 'Pathology' 'Dermatology' 'SportsMedicine' 'Speech' 'Hospitalist'
 'OutreachServices' 'Cardiology-Pediatric' 'Perinatology'
 'Neurophysiology' 'Endocrinology-Metabolism' 'DCPTEAM' 'Resident']
diag_1unique values: ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' '?' '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']
diag_2unique values: ['?' '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288'
 '998' '507' '174' '425' '456' '401' '715' '496' '428' '585' '250.02'
 '410' '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491'
 '553' '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196'
 '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150'
 '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' '235' 'V69' '670' '195' 'V55' '388'
 '268' '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863'
 '649' '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843'
 '927']
diag_3unique values: ['?' '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '714' '428' '582' 'V43' '250.01' '263' '250.42' '276'
 '482' '401' '250.41' '585' '781' '278' '998' '568' '682' '618' '250.02'
 '305' '707' '496' '599' '715' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622' 'E912' 'E955' '463' 'V06' 'E864'
 '217' '877' '391' 'E825' '952' '669' '875' 'E900' '215' '538' '980' '834'
 '448' '175' '49' '876' '230' '57' 'E854' '942' '14' '750' '370' '671'
 '971']
max_glu_serumunique values: ['None' '>300' 'Norm' '>200']
A1Cresultunique values: ['None' '>7' '>8' 'Norm']
metforminunique values: ['No' 'Steady' 'Up' 'Down']
repaglinideunique values: ['No' 'Up' 'Steady' 'Down']
nateglinideunique values: ['No' 'Steady' 'Down' 'Up']
chlorpropamideunique values: ['No' 'Steady' 'Down' 'Up']
glimepirideunique values: ['No' 'Steady' 'Down' 'Up']
acetohexamideunique values: ['No' 'Steady']
glipizideunique values: ['No' 'Steady' 'Up' 'Down']
glyburideunique values: ['No' 'Steady' 'Up' 'Down']
tolbutamideunique values: ['No' 'Steady']
pioglitazoneunique values: ['No' 'Steady' 'Up' 'Down']
rosiglitazoneunique values: ['No' 'Steady' 'Up' 'Down']
acarboseunique values: ['No' 'Steady' 'Up' 'Down']
miglitolunique values: ['No' 'Steady' 'Down' 'Up']
troglitazoneunique values: ['No' 'Steady']
tolazamideunique values: ['No' 'Steady' 'Up']
examideunique values: ['No']
citogliptonunique values: ['No']
insulinunique values: ['No' 'Up' 'Steady' 'Down']
glyburide-metforminunique values: ['No' 'Steady' 'Down' 'Up']
glipizide-metforminunique values: ['No' 'Steady']
glimepiride-pioglitazoneunique values: ['No' 'Steady']
metformin-rosiglitazoneunique values: ['No' 'Steady']
metformin-pioglitazoneunique values: ['No' 'Steady']
changeunique values: ['No' 'Ch']
diabetesMedunique values: ['No' 'Yes']
readmittedunique values: ['NO' '>30' '<30']

In [10]:
import numpy as np

# Replace '?' with NaN in categorical columns
df1.replace('?', np.nan, inplace=True)

In [11]:
# Check for placeholders in numerical columns
for col in df1.select_dtypes(include="number").columns:
    print(f"{col} unique values: {df1[col].unique()}")

encounter_id unique values: [  2278392    149190     64410 ... 443854148 443857166 443867222]
patient_nbr unique values: [  8222157  55629189  86047875 ... 140199494 120975314 175429310]
admission_type_id unique values: [6 1 2 3 4 5 8 7]
discharge_disposition_id unique values: [25  1  3  6  2  5 11  7 10  4 14 18  8 13 12 16 17 22 23  9 20 15 24 28
 19 27]
admission_source_id unique values: [ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]
time_in_hospital unique values: [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]
num_lab_procedures unique values: [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
num_procedures unique values: [0 5 1 6 2 3 4]
num_medications unique values: [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]
number_outpatient unique values: [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
number_emergency unique values: [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
number_inpatient unique values: [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
number_diagnoses unique values: [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]

In [12]:
#Recalling the official dataset
df1.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [13]:
df1.isnull()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
101762,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
101763,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
101764,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
101765,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
# Count missing values for each column
missing_values = df1.isnull().sum()

# Filter out columns with no missing values (optional)
missing_values = missing_values[missing_values > 0]

# Display missing values sorted in descending order
print(missing_values.sort_values(ascending=False))

weight               98569
medical_specialty    49949
payer_code           40256
race                  2273
diag_3                1423
diag_2                 358
diag_1                  21
dtype: int64

In [15]:
df1.drop(columns=['weight', 'medical_specialty','payer_code','diag_3', 'diag_2', 'diag_1'], inplace=True)

In [16]:
#checking for duplicates
df1.duplicated().sum()

0

In [17]:
#Replace the missing values on the race column with "Unknown"
df1['race'].fillna('Uknown', inplace=True)

In [18]:
df1.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

# Data preprocessing.

### Categorical columns and numerical columns

In [19]:
import pandas as pd

# Load the dataset (assuming it's already read into df1)
df = df1.copy()

In [20]:
# Separate numerical and categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

print("Categorical Columns:", categorical_columns)
print("Numerical Columns:", numerical_columns)

Categorical Columns: ['race', 'gender', 'age', 'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']
Numerical Columns: ['encounter_id', 'patient_nbr', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'number_diagnoses']


I have used One Hot Encoding which is best for nominal categories, e.g race and also label Encoding for ordinal categories like 're-admitted'.

In [22]:

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Copying the dataframe to avoid modifying the original
df_encoded = df.copy()

# Initialize Label Encoder
label_encoder = LabelEncoder()

# Encode 'readmitted' since it has ordered categories
if 'readmitted' in df_encoded.columns:
    df_encoded['readmitted'] = label_encoder.fit_transform(df_encoded['readmitted'])

# Encode 'age' if it's an ordinal categorical variable
if 'age' in df_encoded.columns:
    df_encoded['age'] = label_encoder.fit_transform(df_encoded['age'])

# Apply One-Hot Encoding for nominal categorical variables (excluding 'age' and 'readmitted')
categorical_columns = [col for col in categorical_columns if col not in ['age', 'readmitted']]
df_encoded = pd.get_dummies(df_encoded, columns=categorical_columns, drop_first=True)

# Display first few rows of the transformed dataset
df_encoded.head()

,encounter_id,patient_nbr,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,insulin_Up,glyburide-metformin_No,glyburide-metformin_Steady,glyburide-metformin_Up,glipizide-metformin_Steady,glimepiride-pioglitazone_Steady,metformin-rosiglitazone_Steady,metformin-pioglitazone_Steady,change_No,diabetesMed_Yes
0,2278392,8222157,0,6,25,1,1,41,0,1,...,0,1,0,0,0,0,0,0,1,0
1,149190,55629189,1,1,1,7,3,59,0,18,...,1,1,0,0,0,0,0,0,0,1
2,64410,86047875,2,1,1,7,2,11,5,13,...,0,1,0,0,0,0,0,0,1,1
3,500364,82442376,3,1,1,7,2,44,1,16,...,1,1,0,0,0,0,0,0,0,1
4,16680,42519267,4,1,1,7,1,51,0,8,...,0,1,0,0,0,0,0,0,0,1

In [23]:
#Recalling the dataset
df1 = df_encoded

df1.head()

,encounter_id,patient_nbr,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,insulin_Up,glyburide-metformin_No,glyburide-metformin_Steady,glyburide-metformin_Up,glipizide-metformin_Steady,glimepiride-pioglitazone_Steady,metformin-rosiglitazone_Steady,metformin-pioglitazone_Steady,change_No,diabetesMed_Yes
0,2278392,8222157,0,6,25,1,1,41,0,1,...,0,1,0,0,0,0,0,0,1,0
1,149190,55629189,1,1,1,7,3,59,0,18,...,1,1,0,0,0,0,0,0,0,1
2,64410,86047875,2,1,1,7,2,11,5,13,...,0,1,0,0,0,0,0,0,1,1
3,500364,82442376,3,1,1,7,2,44,1,16,...,1,1,0,0,0,0,0,0,0,1
4,16680,42519267,4,1,1,7,1,51,0,8,...,0,1,0,0,0,0,0,0,0,1

In [25]:
#Checking the dataset shape
df1.shape

(101766, 78)

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 78 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   encounter_id                     101766 non-null  int64
 1   patient_nbr                      101766 non-null  int64
 2   age                              101766 non-null  int32
 3   admission_type_id                101766 non-null  int64
 4   discharge_disposition_id         101766 non-null  int64
 5   admission_source_id              101766 non-null  int64
 6   time_in_hospital                 101766 non-null  int64
 7   num_lab_procedures               101766 non-null  int64
 8   num_procedures                   101766 non-null  int64
 9   num_medications                  101766 non-null  int64
 10  number_outpatient                101766 non-null  int64
 11  number_emergency                 101766 non-null  int64
 12  number_inpatient                 101766 non-null  int64
 13  number_diagnoses                 101766 non-null  int64
 14  readmitted                       101766 non-null  int32
 15  race_Asian                       101766 non-null  uint8
 16  race_Caucasian                   101766 non-null  uint8
 17  race_Hispanic                    101766 non-null  uint8
 18  race_Other                       101766 non-null  uint8
 19  race_Uknown                      101766 non-null  uint8
 20  gender_Male                      101766 non-null  uint8
 21  gender_Unknown/Invalid           101766 non-null  uint8
 22  max_glu_serum_>300               101766 non-null  uint8
 23  max_glu_serum_None               101766 non-null  uint8
 24  max_glu_serum_Norm               101766 non-null  uint8
 25  A1Cresult_>8                     101766 non-null  uint8
 26  A1Cresult_None                   101766 non-null  uint8
 27  A1Cresult_Norm                   101766 non-null  uint8
 28  metformin_No                     101766 non-null  uint8
 29  metformin_Steady                 101766 non-null  uint8
 30  metformin_Up                     101766 non-null  uint8
 31  repaglinide_No                   101766 non-null  uint8
 32  repaglinide_Steady               101766 non-null  uint8
 33  repaglinide_Up                   101766 non-null  uint8
 34  nateglinide_No                   101766 non-null  uint8
 35  nateglinide_Steady               101766 non-null  uint8
 36  nateglinide_Up                   101766 non-null  uint8
 37  chlorpropamide_No                101766 non-null  uint8
 38  chlorpropamide_Steady            101766 non-null  uint8
 39  chlorpropamide_Up                101766 non-null  uint8
 40  glimepiride_No                   101766 non-null  uint8
 41  glimepiride_Steady               101766 non-null  uint8
 42  glimepiride_Up                   101766 non-null  uint8
 43  acetohexamide_Steady             101766 non-null  uint8
 44  glipizide_No                     101766 non-null  uint8
 45  glipizide_Steady                 101766 non-null  uint8
 46  glipizide_Up                     101766 non-null  uint8
 47  glyburide_No                     101766 non-null  uint8
 48  glyburide_Steady                 101766 non-null  uint8
 49  glyburide_Up                     101766 non-null  uint8
 50  tolbutamide_Steady               101766 non-null  uint8
 51  pioglitazone_No                  101766 non-null  uint8
 52  pioglitazone_Steady              101766 non-null  uint8
 53  pioglitazone_Up                  101766 non-null  uint8
 54  rosiglitazone_No                 101766 non-null  uint8
 55  rosiglitazone_Steady             101766 non-null  uint8
 56  rosiglitazone_Up                 101766 non-null  uint8
 57  acarbose_No                      101766 non-null  uint8
 58  acarbose_Steady                  101766 non-null  uint8
 59  acarbose_Up                      101766 non-null  uint8
 60  miglitol_No                      101766 non-null  uint8
 61  miglitol_Steady                  101766 non-null  uint8
 62  miglitol_Up                      101766 non-null  uint8
 63  troglitazone_Steady              101766 non-null  uint8
 64  tolazamide_Steady                101766 non-null  uint8
 65  tolazamide_Up                    101766 non-null  uint8
 66  insulin_No                       101766 non-null  uint8
 67  insulin_Steady                   101766 non-null  uint8
 68  insulin_Up                       101766 non-null  uint8
 69  glyburide-metformin_No           101766 non-null  uint8
 70  glyburide-metformin_Steady       101766 non-null  uint8
 71  glyburide-metformin_Up           101766 non-null  uint8
 72  glipizide-metformin_Steady       101766 non-null  uint8
 73  glimepiride-pioglitazone_Steady  101766 non-null  uint8
 74  metformin-rosiglitazone_Steady   101766 non-null  uint8
 75  metformin-pioglitazone_Steady    101766 non-null  uint8
 76  change_No                        101766 non-null  uint8
 77  diabetesMed_Yes                  101766 non-null  uint8
dtypes: int32(2), int64(13), uint8(63)
memory usage: 17.0 MB


### **Removing Unnecessary Columns**

#### **1. Identifiers:**  
- `encounter_id`, `patient_nbr` – These are unique IDs that don't provide predictive value.

#### **2. Sparse or Unknown Data:**  
- Columns like `gender_Unknown/Invalid` and `race_Unknown` may not contribute meaningful insights.

#### **3. Redundant Features:**  
- If a column provides the same information as another (e.g., `diabetesMed_Yes` might be redundant if insulin-related features exist).

In [33]:
# List of columns to drop
columns_to_drop = ['encounter_id', 'patient_nbr', 'gender_Unknown/Invalid', 'race_Uknown']

# Dropping unnecessary columns
df1 = df_encoded.drop(columns=columns_to_drop)
df1 = df_encoded

df1.head()

,encounter_id,patient_nbr,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,insulin_Up,glyburide-metformin_No,glyburide-metformin_Steady,glyburide-metformin_Up,glipizide-metformin_Steady,glimepiride-pioglitazone_Steady,metformin-rosiglitazone_Steady,metformin-pioglitazone_Steady,change_No,diabetesMed_Yes
0,2278392,8222157,0,6,25,1,1,41,0,1,...,0,1,0,0,0,0,0,0,1,0
1,149190,55629189,1,1,1,7,3,59,0,18,...,1,1,0,0,0,0,0,0,0,1
2,64410,86047875,2,1,1,7,2,11,5,13,...,0,1,0,0,0,0,0,0,1,1
3,500364,82442376,3,1,1,7,2,44,1,16,...,1,1,0,0,0,0,0,0,0,1
4,16680,42519267,4,1,1,7,1,51,0,8,...,0,1,0,0,0,0,0,0,0,1

## Data Splitting

In [34]:
from sklearn.model_selection import train_test_split

#target variable
target = 're-admitted'


X = df1.drop('readmitted', axis=1)
y = df1['readmitted']

In [35]:
#Splitting the data into train and test sets (80-20)

In [36]:
# Split data into training and test sets (80-20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Display dataset shapes
#print the shape of the train and the test data to verify
print(f"Training set features shape: {X_train.shape}")
print(f"Test set features shape: {X_test.shape}")
print(f"Training set target shape: {y_train.shape}")
print(f"Test set target shape: {y_test.shape}")

Training set features shape: (81412, 77)
Test set features shape: (20354, 77)
Training set target shape: (81412,)
Test set target shape: (20354,)

## Handling Class Imbalance

### Class Imbalance in Target Variable

The target variable (`readmitted`) is heavily imbalanced:

| Class | Count |
|--------|--------|
| NO     | 54,864 |
| >30    | 35,545 |
| <30    | 11,357 |

Since the dataset is imbalanced, we will handle this using **class weighting** to ensure that the model does not favor the majority class.
Class weights help address class imbalance by ensuring the model does not overly favor the majority class. The compute_class_weight function assigns higher weights to underrepresented classes, making the model pay more attention to them during training.

This reduces bias and improves prediction performance for minority classes. Many machine learning models, such as logistic regression and random forests, allow class weights to be specified, ensuring errors on minority classes carry more importance. By using class weights, the model achieves a more balanced and fair representation across all classes.

In [37]:
from sklearn.utils.class_weight import compute_class_weight
import numpy as np

# Compute class weights
class_weights = compute_class_weight(class_weight="balanced", classes=np.unique(y_train), y=y_train)

# Convert to dictionary format for model training
class_weights_dict = {i: weight for i, weight in enumerate(class_weights)}

print("Class Weights:", class_weights_dict)

Class Weights: {0: 2.9870482480278846, 1: 0.9543301917756835, 2: 0.6182892468463542}

In [39]:
import lightgbm as lgb
from sklearn.metrics import classification_report, accuracy_score

# Initialize the LGBMClassifier with class weights
lgb_model = lgb.LGBMClassifier(class_weight=class_weights_dict, random_state=42)

# Train the model
lgb_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = lgb_model.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.021586 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 962
[LightGBM] [Info] Number of data points in the train set: 81412, number of used features: 63
[LightGBM] [Info] Start training from score -1.098612
[LightGBM] [Info] Start training from score -1.098612
[LightGBM] [Info] Start training from score -1.098612
Accuracy: 0.536896924437457

Classification Report:
               precision    recall  f1-score   support

           0       0.21      0.38      0.27      2272
           1       0.49      0.49      0.49      7109
           2       0.72      0.60      0.65     10973

    accuracy                           0.54     20354
   macro avg       0.47      0.49      0.47     20354
weighted avg       0.58      0.54      0.55     20354