# Introduction

Diabetes is a chronic disease caused by insufficient insulin production, leading to high blood sugar levels that damage nerves and blood vessels. According to the World Health Organization (WHO), over 830 million people were affected as of 2022, doubling from 1990, with low treatment coverage, especially in low- and middle-income countries. In 2021, diabetes directly caused 1.6 million deaths, with nearly half occurring before age 70, and contributed to kidney and cardiovascular diseases. Unlike other major noncommunicable diseases, diabetes mortality rates have been rising since 2000, highlighting the urgent need for better management and prevention strategies. This project analyzes the Diabetes 130-US Hospitals dataset, representing ten years (1999-2008) of clinical care at 130 hospitals and integrated delivery networks throughout the United States, with the  aims to predict whether a diabetic patient will be readmitted within 30 days based on their demographics, clinical, and treatment history.

## Problem statement

High readmission rates for diabetic patients have a significant impact on healthcare systems globally such as increased healthcare costs, resource strain, and reduced quality of life for patients . According to International Diabetes Federation (IDF), between 2021 and 2045 the global expenditures for diabetes treatment is expected to grow from 966 billion U.S. dollars to just over one trillion U.S. dollars. Uncontrolled diabetes can lead to complications such as heart disease, stroke, kidney failure, and blindness, significantly increasing the risk of hospitalization. Identifying patients at high risk of readmission allows for proactive interventions, such as enhanced discharge planning, improved patient education, and closer follow-up, ultimately improving patient outcomes. The project uses the Diabetes 130-US Hospitals for Years 1999-2008 data from UCI machine learning repository to develop a predictive model that accurately identifies diabetic patients at high risk of readmission within 30 days of discharge from a hospital.

Link to dataset site: https://archive.ics.uci.edu/dataset/296/diabetes+130-us+hospitals+for+years+1999-2008

# Objectives

* Build a predictive model that accurately classifies patients as "readmitted" or "not readmitted" within 30 days of discharge.
* Identify  key factors associated with readmission.
* Perform data-driven analysis to recommend hospital policies for better diabetes management.
* Evaluate model performance and interpret results for practical applications in healthcare.

# Limitations

***Missing Data:*** Features like Weight, Payer Code, and Medical Specialty have high percentages of missing values, which may impact model accuracy and generalizability.

***Imbalanced Classes:*** The readmission labels may be imbalanced, which can affect model performance.

***Data Bias:*** The dataset focuses on U.S. hospitals and may not generalize to global populations, potentially introducing biases into the model.

***Temporal Bias:*** The data spans from 1999 to 2008, and healthcare practices may have evolved since then, potentially limiting the model's applicability to current clinical settings.

Predictive models may not capture all the complex factors influencing readmission like lifestyle, follow up and post discharge care and unforseen medical events.

In [2]:
import pandas as pd

df = pd.read_csv('../diabetic_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
mapping = pd.read_csv('../IDS_mapping.csv')
mapping

   admission_type_id                                        description
0                  1                                          Emergency
1                  2                                             Urgent
2                  3                                           Elective
3                  4                                            Newborn
4                  5                                      Not Available
..               ...                                                ...
62                22   Transfer from hospital inpt/same fac reslt in...
63                23                          Born inside this hospital
64                24                         Born outside this hospital
65                25            Transfer from Ambulatory Surgery Center
66                26                              Transfer from Hospice

[67 rows x 2 columns]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [40]:
#summary statistics for numerical features
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [41]:
#summary statistics for categorical features
df.describe(include='object')

,race,gender,age,weight,payer_code,medical_specialty,diag_1,diag_2,diag_3,max_glu_serum,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,6,3,10,10,18,73,717,749,790,4,...,1,4,4,2,2,2,2,2,2,3
top,Caucasian,Female,[70-80),?,?,?,428,276,250,None,...,No,No,No,No,No,No,No,No,Yes,NO
freq,76099,54708,26068,98569,40256,49949,6862,6752,11555,96420,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864

In [1]:
# distribution of the target 
df['readmitted'].value_counts()

NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

In [33]:
#check unique values in each feature
df.nunique()

encounter_id                101766
patient_nbr                  71518
race                             6
gender                           3
age                             10
weight                          10
admission_type_id                8
discharge_disposition_id        26
admission_source_id             17
time_in_hospital                14
payer_code                      18
medical_specialty               73
num_lab_procedures             118
num_procedures                   7
num_medications                 75
number_outpatient               39
number_emergency                33
number_inpatient                21
diag_1                         717
diag_2                         749
diag_3                         790
number_diagnoses                16
max_glu_serum                    4
A1Cresult                        4
metformin                        4
repaglinide                      4
nateglinide                      4
chlorpropamide                   4
glimepiride                      4
acetohexamide                    2
glipizide                        4
glyburide                        4
tolbutamide                      2
pioglitazone                     4
rosiglitazone                    4
acarbose                         4
miglitol                         4
troglitazone                     2
tolazamide                       3
examide                          1
citoglipton                      1
insulin                          4
glyburide-metformin              4
glipizide-metformin              2
glimepiride-pioglitazone         2
metformin-rosiglitazone          2
metformin-pioglitazone           2
change                           2
diabetesMed                      2
readmitted                       3
dtype: int64

In [34]:
# Separate numerical and categorical columns
numerical_columns = df.select_dtypes(include=['int64']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

print("Numerical Columns:", numerical_columns)
print("Categorical Columns:", categorical_columns)

Numerical Columns: Index(['encounter_id', 'patient_nbr', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient',
       'number_diagnoses'],
      dtype='object')
Categorical Columns: Index(['race', 'gender', 'age', 'weight', 'payer_code', 'medical_specialty',
       'diag_1', 'diag_2', 'diag_3', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [35]:
#Check the unique values and their counts:
for col in categorical_columns:
    print(f"Column: {col}")
    print(df[col].value_counts())
    print("\n")

Column: race
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64


Column: gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64


Column: age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64


Column: weight
?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64


Column: payer_code
?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64


Column: medical_specialty
?                                   49949
InternalMedicine                    14635
Emergency/Trauma                     7565
Family/GeneralPractice               7440
Cardiology                           5352
                                    ...
Proctology                              1
Surgery-PlasticwithinHeadandNeck        1
Psychiatry-Addictive                    1
Pediatrics-InfectiousDiseases           1
Perinatology                            1
Name: medical_specialty, Length: 73, dtype: int64


Column: diag_1
428    6862
414    6581
786    4016
410    3614
486    3508
       ...
160       1
143       1
363       1
366       1
791       1
Name: diag_1, Length: 717, dtype: int64


Column: diag_2
276     6752
428     6662
250     6071
427     5036
401     3736
        ...
145        1
123        1
316        1
E868       1
843        1
Name: diag_2, Length: 749, dtype: int64


Column: diag_3
250     11555
401      8289
276      5175
428      4577
427      3955
        ...
66          1
75          1
E904        1
448         1
47          1
Name: diag_3, Length: 790, dtype: int64


Column: max_glu_serum
None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64


Column: A1Cresult
None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64


Column: metformin
No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64


Column: repaglinide
No        100227
Steady      1384
Up           110
Down          45
Name: repaglinide, dtype: int64


Column: nateglinide
No        101063
Steady       668
Up            24
Down          11
Name: nateglinide, dtype: int64


Column: chlorpropamide
No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64


Column: glimepiride
No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64


Column: acetohexamide
No        101765
Steady         1
Name: acetohexamide, dtype: int64


Column: glipizide
No        89080
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64


Column: glyburide
No        91116
Steady     9274
Up          812
Down        564
Name: glyburide, dtype: int64


Column: tolbutamide
No        101743
Steady        23
Name: tolbutamide, dtype: int64


Column: pioglitazone
No        94438
Steady     6976
Up          234
Down        118
Name: pioglitazone, dtype: int64


Column: rosiglitazone
No        95401
Steady     6100
Up          178
Down         87
Name: rosiglitazone, dtype: int64


Column: acarbose
No        101458
Steady       295
Up            10
Down           3
Name: acarbose, dtype: int64


Column: miglitol
No        101728
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64


Column: troglitazone
No        101763
Steady         3
Name: troglitazone, dtype: int64


Column: tolazamide
No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64


Column: examide
No    101766
Name: examide, dtype: int64


Column: citoglipton
No    101766
Name: citoglipton, dtype: int64


Column: insulin
No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64


Column: glyburide-metformin
No        101060
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64


Column: glipizide-metformin
No        101753
Steady        13
Name: glipizide-metformin, dtype: int64


Column: glimepiride-pioglitazone
No        101765
Steady         1
Name: glimepiride-pioglitazone, dtype: int64


Column: metformin-rosiglitazone
No        101764
Steady         2
Name: metformin-rosiglitazone, dtype: int64


Column: metformin-pioglitazone
No        101765
Steady         1
Name: metformin-pioglitazone, dtype: int64


Column: change
No    54755
Ch    47011
Name: change, dtype: int64


Column: diabetesMed
Yes    78363
No     23403
Name: diabetesMed, dtype: int64


Column: readmitted
NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

In [36]:
for col in numerical_columns:
    print(f"Column: {col}")
    print(df[col].value_counts())
    print("\n")

Column: encounter_id
96210942     1
89943846     1
384306986    1
94650156     1
83156784     1
            ..
74454612     1
208073976    1
166229592    1
38340702     1
77856768     1
Name: encounter_id, Length: 101766, dtype: int64


Column: patient_nbr
88785891     40
43140906     28
23199021     23
1660293      23
88227540     23
             ..
71081460      1
30060018      1
67443444      1
141344240     1
93251151      1
Name: patient_nbr, Length: 71518, dtype: int64


Column: admission_type_id
1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: admission_type_id, dtype: int64


Column: discharge_disposition_id
1     60234
3     13954
6     12902
18     3691
2      2128
22     1993
11     1642
5      1184
25      989
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: discharge_disposition_id, dtype: int64


Column: admission_source_id
7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
11        2
14        2
25        2
13        1
Name: admission_source_id, dtype: int64


Column: time_in_hospital
3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Name: time_in_hospital, dtype: int64


Column: num_lab_procedures
1      3208
43     2804
44     2496
45     2376
38     2213
       ...
107       1
118       1
129       1
120       1
121       1
Name: num_lab_procedures, Length: 118, dtype: int64


Column: num_procedures
0    46652
1    20742
2    12717
3     9443
6     4954
4     4180
5     3078
Name: num_procedures, dtype: int64


Column: num_medications
13    6086
12    6004
11    5795
15    5792
14    5707
      ...
70       2
75       2
74       1
79       1
81       1
Name: num_medications, Length: 75, dtype: int64


Column: number_outpatient
0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
22        5
18        5
19        3
24        3
27        3
23        2
25        2
26        2
29        2
33        2
35        2
36        2
40        1
28        1
34        1
37        1
38        1
39        1
42        1
Name: number_outpatient, dtype: int64


Column: number_emergency
0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
18        5
16        5
19        4
20        4
14        3
15        3
21        2
25        2
76        1
54        1
24        1
28        1
29        1
37        1
42        1
46        1
64        1
63        1
Name: number_emergency, dtype: int64


Column: number_inpatient
0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
18        1
21        1
Name: number_inpatient, dtype: int64


Column: number_diagnoses
9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Name: number_diagnoses, dtype: int64