# PREDICTING EARLY READMISSIONS IN DIABETIC PATIENTS.

### Abstract

Hospital readmissions for diabetic patients present a significant challenge to healthcare systems, leading to increased costs and adverse patient outcomes. Despite advancements in diabetes management, many patients experience early readmissions within 30 days of discharge due to inconsistent glycemic control and inadequate follow-up care. This study utilizes a dataset covering ten years (1999â€“2008) of clinical care data from 130 U.S. hospitals to develop a predictive model for early readmissions. Using machine learning techniques, we analyze patient demographics, laboratory results, medications, and clinical procedures to identify key factors influencing readmissions. The findings from this research can assist healthcare providers in implementing targeted interventions to reduce readmission rates, improve diabetes management, and enhance overall patient care.

## Introduction

Diabetes is one of the most prevalent chronic diseases worldwide, affecting millions of individuals and placing a significant burden on healthcare systems. In the United States alone, diabetes management accounts for a substantial portion of healthcare expenditures, driven by complications, hospitalizations, and frequent readmissions. Despite advancements in medical care and evidence-based interventions, many diabetic patients continue to experience suboptimal outcomes due to inconsistent management and inadequate follow-up care.

Hospital readmissions, particularly those occurring**within 30 days of discharge**, are a critical concern in diabetes care. These early readmissions not only indicate gaps in patient management but also contribute to increased healthcare costs and poorer patient outcomes. For diabetic patients, unplanned readmissions are often linked to preventable factors such as poor glycemic control, medication non-adherence, and insufficient post-discharge support. Addressing these challenges is essential to improving patient care and reducing the financial strain on healthcare systems.

## Problem statement

Despite advancements in diabetes care, a significant challenge remains: early readmissions within 30 days of discharge for diabetic patients. These readmissions are costly, not only financially, but also in terms of patient outcomes, as they often signal inadequate care and suboptimal glycemic control during the initial hospital stay.

Many factors contribute to these early readmissions, including poor diabetes management, lack of proper follow-up care, and inconsistent patient adherence to treatment protocols. Unfortunately, healthcare providers currently lack reliable predictive tools to identify high-risk patients before discharge, which prevents them from taking timely, preventive action to reduce the likelihood of readmission.

This research aims to leverage clinical data from 130 U.S. hospitals spanning 1999 to 2008 to develop a predictive model for identifying patients at risk of early readmission. By focusing on patient demographics, lab results, medications, and clinical procedures, the goal is to improve patient outcomes, reduce readmission rates, and minimize the financial burden on healthcare systems.

## Objectives

#### Primary Objectives

1. Develop a Predictive Model for Early Readmissions:
Build a machine learning model to accurately predict the likelihood of diabetic patients being readmitted to the hospital within 30 days of discharge, using clinical and demographic data.

2. Identify Key Risk Factors for Early Readmissions:
Analyze patient demographics, laboratory results, medications, and clinical procedures to determine the most significant factors contributing to early readmissions among diabetic patients.

#### Secondary Objectives

3. Evaluate Model Performance and Generalizability:
Assess the predictive model's accuracy, precision, recall, and generalizability to ensure it can be effectively applied across diverse hospital settings and patient populations.

4. Provide Actionable Insights for Healthcare Providers:
Translate the model's findings into practical recommendations for healthcare providers to improve diabetes management, reduce readmission rates, and enhance patient outcomes.

5. Optimize Resource Allocation:
Use the predictive model to help hospitals identify high-risk patients and allocate resources more efficiently, reducing unnecessary healthcare costs and improving the quality of care

## Methodology/ Approach:

 -  Data collection
 -  Data Prepocessing
 -  Feature Selection
 -  Modeling
 -  Evaluation

## Expected outcomes:

## Limitations

 1. Data Quality and Completeness:
 
    - Missing Data: The dataset may have missing or incomplete data, which could lead to biases in the analysis or affect model accuracy. Handling missing values (e.g., imputation or exclusion) could impact results.
    Data Inconsistencies: Some variables may have inconsistent entries, requiring extra cleaning and preprocessing. This may affect the robustness of the predictions.

2. Data Representation and Bias:

    - Non-representative Sample: The dataset spans a specific timeframe (1999-2008) and geographic region (U.S. hospitals), which may not fully represent diabetic populations in other countries or regions. As such, the model may not generalize well to other settings.
    Sampling Bias: Certain types of patients or hospitals may be overrepresented or underrepresented in the dataset, which can skew the results.

 3. Model Limitations:

    - Overfitting or Underfitting: The machine learning models may either overfit (perform well on training data but poorly on unseen data) or underfit (not capture complex patterns), especially if hyperparameters are not tuned properly.
    - Model Generalization: The model developed may work well on the current dataset but may not generalize to other patient populations or hospital settings without further validation and adjustment.

4. Limited Scope of Data:

    - Lack of Key Variables: The dataset may not include certain variables that could be important for predicting readmissions, such as patient lifestyle factors, mental health status, or socioeconomic factors like transportation access.
    - Time Frame Limitation: The dataset spans only from 1999 to 2008, which may not account for recent changes in diabetes care practices, healthcare policies, or advancements in treatment.

 5. External Factors:

    - Changes in Medical Practices: Since the dataset covers a period from 1999 to 2008, it may not account for recent medical advancements, including new medications, technologies, or treatment protocols, which could influence readmission rates.
    Health System Variability: Variability in the healthcare systems across different hospitals and states can affect readmission rates, and not all hospitals in the dataset may have the same level of care, follow-up, or resources for managing diabetes.

6. Ethical and Privacy Concerns:
    - Data Privacy: Using healthcare data comes with privacy and ethical considerations. Although anonymized, ensuring the ethical use of patient data and maintaining confidentiality is crucial.
    - Bias in Decision-Making: Machine learning models are only as good as the data fed into them. If there are biases in the data (e.g., certain demographic groups are underrepresented), the model could perpetuate or even amplify those biases.

7. Interpretation and Clinical Relevance:

    - Lack of Causality: Although predictive models can identify correlations, they cannot establish causality. Therefore, the identified risk factors for readmissions may not necessarily be causal but simply associated.
    - Clinically Meaningful Results: While predictive models may identify risk factors, translating these into actionable clinical interventions may require further expertise and validation from healthcare professionals.

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------

# 1. Data loading and inspection

In [49]:
# Importing the necessary libraries to facilitate data loading

import numpy as np
import pandas as pd

In [50]:
#load dataset for preview.

df = pd.read_csv("../diabetic_data.csv")

df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [51]:
#dertmine the shape of the dataset.
rows, columns = df.shape

print(f'The dataset has {rows} rows and {columns} columns')

The dataset has 101766 rows and 50 columns

In [52]:
#Displaying the names of the  columns
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [53]:
#structural summary of the dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [54]:
#statistical summary of the dataset.
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [55]:
#checking the distribution of the target variable.
df['readmitted'].value_counts()

readmitted
NO     54864
>30    35545
<30    11357
Name: count, dtype: int64

### Observations drawn from data inspection


-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# 2. Data cleaning

## 2.1 Checking and handling columns with missing values

In [56]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [57]:
#checking for missing values

missing_values = df.isnull().sum()

#printing missing values

print(missing_values[missing_values>0])

max_glu_serum    96420
A1Cresult        84748
dtype: int64

In [58]:
#creating a function to check the distribution of columns with missing values

def print_value_counts(df, column):
    if column in df.columns:
        print(df[column].value_counts(dropna=False))  #includes NaN values
    else:
        print(f'colum {column} is not found in the DataFrame')

In [59]:
print_value_counts(df, "max_glu_serum")

max_glu_serum
NaN     96420
Norm     2597
>200     1485
>300     1264
Name: count, dtype: int64

In [60]:
print_value_counts(df, "A1Cresult")

A1Cresult
NaN     84748
>8       8216
Norm     4990
>7       3812
Name: count, dtype: int64

In [61]:
# Since the two colums displayed above have alot of missing values compared to the other values in those colums, 
# we will proceed and remove this columns to reduce the complexity of the dataset.

df.drop(['A1Cresult','max_glu_serum'],axis=1, inplace=True)

## 2.2 Checking and handling duplicate columns

In [62]:
#creatinga func to check id the  dataset has duplicate columns
def find_duplicate_columns(df):
    
    duplicate_columns = {}
    columns = df.columns

    for i in range(len(columns)):
        for j in range(i + 1, len(columns)):  # Compare each column with the rest
            if df[columns[i]].equals(df[columns[j]]):  # Check if two columns are identical
                duplicate_columns[columns[j]] = columns[i]  # Store duplicate mapping

    return duplicate_columns

In [63]:
# printing the duplicate column names
duplicates = find_duplicate_columns(df)
if duplicates:
    print("Duplicate columns found:")
    for duplicate, original in duplicates.items():
        print(f"'{duplicate}' is a duplicate of '{original}'")
else:
    print("No duplicate columns found.")

Duplicate columns found:
'citoglipton' is a duplicate of 'examide'

In [64]:
#dropping the duplicated columns to improve clarity and usability.

df.drop(['citoglipton'],axis=1, inplace=True)

In [65]:
# rerunning the code to ensure that the duplicated column has been removed from the dataset.
duplicates = find_duplicate_columns(df)
if duplicates:
    print("Duplicate columns found:")
    for duplicate, original in duplicates.items():
        print(f"'{duplicate}' is a duplicate of '{original}'")
else:
    print("No duplicate columns found.")

No duplicate columns found.

## 2.3 Removing unnecessary columns

In [66]:
df.drop(columns=["diag_1","diag_2","diag_3","encounter_id","patient_nbr"], axis=1, inplace=True)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# 3. Data Preprocessing.

## 3.1 Feature Segregation  
Classifying features based on their data type to apply the appropriate transformations. This involves categorizing features into:  

  - **Numerical Features**  
  - **Categorical Features**

In [67]:
# Separate numerical cols from the dataset

numerical_cols = df.select_dtypes(include=['int64','float64'])
numerical_cols.head()

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
0,6,25,1,1,41,0,1,0,0,0,1
1,1,1,7,3,59,0,18,0,0,0,9
2,1,1,7,2,11,5,13,2,0,1,6
3,1,1,7,2,44,1,16,0,0,0,7
4,1,1,7,1,51,0,8,0,0,0,5

In [68]:
# Display the separated column lists
categorical_cols = df.select_dtypes(include=['object','category'])
categorical_cols.head()

,race,gender,age,weight,payer_code,medical_specialty,metformin,repaglinide,nateglinide,chlorpropamide,...,examide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),?,?,Pediatrics-Endocrinology,No,No,No,No,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),?,?,?,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),?,?,?,No,No,No,No,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),?,?,?,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),?,?,?,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [69]:
#Replacing all the values with ? with the word "unknown"
categorical_cols=categorical_cols.replace("?", "unknown")
categorical_cols.head()

,race,gender,age,weight,payer_code,medical_specialty,metformin,repaglinide,nateglinide,chlorpropamide,...,examide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),unknown,unknown,Pediatrics-Endocrinology,No,No,No,No,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),unknown,unknown,unknown,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),unknown,unknown,unknown,No,No,No,No,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),unknown,unknown,unknown,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),unknown,unknown,unknown,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

## Encoding  the categorical columns

Encoding categorical columns is the process of transforming categorical (non-numeric) data into a numerical format so that it can 
be used effectively in machine learning models and other analytical processes that require numerical inputs. 
Since our categorical colums contains a meaning order, we will proceed and apply the ordinal encoding

### Ordinal encoding

In [70]:
#Importing library
from sklearn.preprocessing import OrdinalEncoder

#initializing ordinal encoder
Ordinal_encoder = OrdinalEncoder()

#applying theordinal encoder to categorical columns
categorical_cols_encoded = Ordinal_encoder.fit_transform(categorical_cols)

#converting the results back to the dataframe with the same column name
categorical_cols_encoded =pd.DataFrame(categorical_cols_encoded,columns=categorical_cols.columns)

#displaing the first few  columns
categorical_cols_encoded.head()

,race,gender,age,weight,payer_code,medical_specialty,metformin,repaglinide,nateglinide,chlorpropamide,...,examide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2.0,0.0,0.0,9.0,17.0,37.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
1,2.0,0.0,1.0,9.0,17.0,72.0,1.0,1.0,1.0,1.0,...,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,0.0,0.0,2.0,9.0,17.0,72.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0
3,2.0,1.0,3.0,9.0,17.0,72.0,1.0,1.0,1.0,1.0,...,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
4,2.0,1.0,4.0,9.0,17.0,72.0,1.0,1.0,1.0,1.0,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0

## Concatenate numerical and categorical Columns

In [72]:
#checking for the number of rows and columns before concatenating
print(numerical_cols.shape)
print(categorical_cols_encoded.shape)

(101766, 11)
(101766, 31)

In [73]:
#resetting the index for both numerical and categorical cols to ensure consistency.
numerical_cols.reset_index(drop=True, inplace=True)
categorical_cols_encoded.reset_index(drop=True, inplace=True)

In [76]:
#concatenating the two dataset
diabetes_df =pd.concat([numerical_cols,categorical_cols_encoded], axis=1)

#displaying the results
diabetes_df.sample(n=5)

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,examide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
70885,1,3,7,3,43,0,11,1,0,2,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
84556,1,1,7,3,30,0,21,0,0,6,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
98725,1,1,7,3,31,0,16,0,0,0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0
24031,1,1,7,1,34,0,2,0,0,0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0
52271,1,22,7,4,43,1,26,0,0,0,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0

## Data Splitting
Data splitting invloves dividing the dataset into separate subsets for training and evaluation. The primary goal is to assess how well a model generalizes to unseen data.

In [77]:
from sklearn.model_selection import train_test_split

#define the features and the target variable.
X = diabetes_df.drop(columns='readmitted')
y = diabetes_df['readmitted']

#split the data into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#print the shape of the train and the test data to verify
print(f"Training set features shape: {X_train.shape}")
print(f"Test set features shape: {X_test.shape}")
print(f"Training set target shape: {y_train.shape}")
print(f"Test set target shape: {y_test.shape}")

Training set features shape: (81412, 41)
Test set features shape: (20354, 41)
Training set target shape: (81412,)
Test set target shape: (20354,)

## Feature Selection
Since my dataset has more that 40 columns, I will apply feature engineering to reduce the complexity of my dataset and understand my datset better.

In [78]:
# feature selection only on trainig dataset
# Calculate the correlation matrix between the features in X_train and the target y_train

# Concatenate X_train and y_train to form a combined DataFrame
X_train_with_target = pd.concat([X_train, y_train], axis=1)

#calculate the correlation matrix
correlation_matrix = X_train_with_target.corr()

# Select the correlation values between features and the target variable 'readmitted'
target_corr = correlation_matrix['readmitted'].sort_values(ascending=False)

#Select the top 10 features with the highest correlation
selected_features = target_corr[1:11]

#display the top 10 features
print(selected_features)

change                     0.043092
num_procedures             0.038079
metformin                  0.027766
weight                     0.021421
race                       0.017179
gender                     0.015291
admission_type_id          0.006688
tolbutamide                0.005090
glyburide                  0.004743
metformin-rosiglitazone    0.004146
Name: readmitted, dtype: float64

## Handlng class Imbalance

Oversampling the minority class

In [84]:
from sklearn.metrics import classification_report 
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression

# Select the features based on correlation
X_train_selected = X_train[selected_features.index]
X_test_selected = X_test[selected_features.index]

# Handle class imbalance (after feature selection)
smote = SMOTE(sampling_strategy='auto', random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train_selected, y_train)

# Train the model with resampled data
model = LogisticRegression(class_weight='balanced', random_state=42)
model.fit(X_train_resampled, y_train_resampled)

# Evaluate the model on the test set
y_pred = model.predict(X_test_selected)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.13      0.34      0.19      2285
         1.0       0.36      0.25      0.30      7117
         2.0       0.58      0.50      0.53     10952

    accuracy                           0.39     20354
   macro avg       0.36      0.36      0.34     20354
weighted avg       0.45      0.39      0.41     20354

c:\Users\AHB\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(